h1 {
	text-align: center;
	color: #398235;
}
h3 {
	text-align: center;
	color: #398235;
	font-size: 100%;
	font-weight: bold;
}
p {
	text-align: center;
}
fieldset {
	border: 1px solid #CCCCCC;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	color: #398235;
	font-size: 200%;
	font-weight: bold;
}
a:hover {
	color:#398235;
}
.head {
	width: 48%;
}
#lampara {
	text-align: center;
}
.lamparita {
	width: 50%;
	height: 50%;
	cursor: pointer;
}
#loading {
	display: none;
	text-align: center;
	opacity: 0.2;
}
.elefante {
	height: 2%;
	padding-right: 5px;
	vertical-align: bottom;
	width: 2%;
}
.bug {
	height: 2%;
	padding-right: 5px;
	vertical-align: middle;
	width: 6%;
}
footer > div > h1 {
	color: #FFFFFF;
	font-size: 14px;
	line-height: 25px;
}
footer {
	bottom: 0;
	top: auto;
	-moz-box-sizing: border-box;
	position: fixed;
	width: 100%;
}
#mensaje {
	text-align: center;
}
.resaltar {
	color: red;
}
.error {
	color: red;
}
#formulario {
	margin: 0 auto;
}
label {
	display: block;
	color: #155511;
}
.atributo {
	text-align: center;
	width: 100%;
	color: #155511;
}
input::-webkit-input-placeholder {
	color: #CCCCCC;
}
input:-moz-placeholder {
	color: #CCCCCC;
}
div.atributo {
	/*	margin-top: 30px;*/
	margin-bottom: 5%;
}
#boton_prender, #boton_apagar {
	width: 49%;
}