@charset "utf-8";
body {
    background: url("../img/fondo.png") repeat fixed 0 0 #B83D01;
}

 .back .middleback .middlefront .logo{   
	width:600px; 
	height:2000px; 
	background:url("../img/iconosgrande21.png") no-repeat; 
	position: absolute;

}
 .back .middlefront{   
	width:1000px; 
	height:2500px;
	background:url("../img/iconosgrande1.png") no-repeat; 
	position: absolute;
	margin-left: 370px;
	margin-top: 2000px;
}
	.back .middleback{
	width:1000px; 
	height:2500px; 
	background:url("../img/iconosgrande2.png") no-repeat;
	position: absolute;
	margin-left: 375px;
	margin-top: 10px;		
}
.back .middleback .middlefront{
	width:1000px; 
	height:4000px; 	
	background:url("../img/iconosgrande1.png") no-repeat;
	position: absolute;
	margin-left: 10px;
	margin-bottom: 200px;	
			
	
	}

nav {
    background: url("../img/menu.png") repeat-y fixed 0 0 transparent;
}


#disenio {
    padding-top: 100px;
    position: relative;
}

#estructura	{
	padding-top: 60px;
	padding-left: 300px;
	height: 430px;
	width: 200px;
	position: absolute;
	}

#estructura2	{
	padding-top: 60px;
	padding-left: 350px;
	height: 430px;
	width: 200px;
	position: absolute;
}

#estructura3	{
	padding-top: 60px;
	padding-left: 1px;
	height: 430px;
	width: 200px;
	position: absolute;
	}

#estructura4	{
	padding-top: 60px;
	padding-left: 280px;
	height: 430px;
	width: 200px;
	position: absolute;
	}
	
#lineasOtroLado{
	padding-top: 320px;
	padding-left: 190px;
	width: 220px;
	position: absolute;
}
#antena {
	padding-top: -20px;
	height:500px;
	width: 350px;
	padding-left: 40px;
	position: absolute;
}

#antena2{
	position: absolute;	
	padding-left: 200px;
	height: 150px;
	width: 160px;
	}
#columna1{
	padding-left: 730px;
	position:absolute;
	width: 60px;		 
	}
#columna2{
	padding-left: 730px;
	position: absolute;
	width: 60px;
		 
	}	
#columna3{
	padding-left: 730px;
	position:absolute;
	width: 60px;	 
	}
#columna4{
	padding-left: 730px;
	position:absolute;
	width: 65px;	 
	}
#cuadradoColor{
	height: 125px;
	width: 150px;
	}

#herramientas{
	padding-top: 60px;
	height: 436.5px;
	width: 150px;	
	}	

#acuarela{
	padding-top: 170px;
	padding-left: 80px;
	width: 320px;
	position: absolute;
	}

#sistemas p {
    color: #2E0F00;
    text-shadow: 1px 1px 0 #DD510D;
}
#electronica p {
    color: #2E0F00;
    text-shadow: 1px 1px 0 #DD510D;
}


#lineas{
	padding-top: 300px;
	padding-left: 130px;
	width: 220px;
	
	}
#cuadradoColor3{
	position: relative;
	padding-left: 50px;
	padding-top: -10px;
	height: 125px;
	width: 150px;	
	}


#work-wrapper {
    height: 550px;
    overflow: hidden;
    position: relative;
}

.entry h2 {
    border-bottom: 1px solid #DD510D;
    color: #FFFFFF;
}
.entry a.link {
    color: #000000;
}
div.info h3 {
    color: #B83D01;
}

div.info a:link, div.info a:visited {
    color: #B83D01;
}

#contact-info ul {
    border-bottom: 1px solid #DD510D;
}
#contact-info li {
    color: #2E0F00;
    text-shadow: 1px 1px 0 #DD510D;
}
#contact-info p, #contact-info p a {
    color: #2E0F00;
    text-shadow: 1px 1px 0 #DD510D;
}

#f-contact div#f-feedback {
    border-bottom: 1px solid #DD510D;
}
p.error {
    color: #FFF713;
}
#sent {
    color: #FFFFFF;
}

.menu{
	padding-left: 75px;
	
}
#colorido1{
	position: absolute;
	margin-top: 392px;
	margin-left: 72px;

	}
	
#colorido2{
	position: absolute;
	margin-top:425px;
	margin-left: 100px;

	}

#colorido3{
	position: absolute;
	margin-top:450px;
	margin-left: 360px;

	}		
#colorido4{
	position: absolute;
	margin-top:435px;
	margin-left: 190px;

	}
#The_colorPicker{
	position:absolute;
	width:224px;
	padding-bottom:1px;
	background-color:#FFF;
	border:1px solid #317082;
}
#lienzo{
	position: absolute;
}
#lienzo3{

	position: absolute;
}

